@import './variables.scss';

.el-tiptap-editor {
  $editor: &;

  &__command-button {
    border: 1px solid transparent;
    box-sizing: border-box;
    align-items: center;
    border-radius: 50%;
    color: $primary-text-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 2px;
    outline: 0;
    transition: all .2s ease-in-out;
    width: 40px;

    &:hover {
      background-color: darken($light-background-color, 5%);
    }

    &--active {
      background-color: $extra-light-primary-color;
      color: $primary-color;
    }
  }
}

.el-tiptap-dropdown-menu {
  &__item {
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;

    [data-item-type=heading] {
      margin-bottom: 0;
      margin-top: 0;
    }

    &--active {
      background-color: $extra-light-primary-color;
      color: $primary-color;
    }
  }
}

.el-tiptap-popper {
  min-width: 0;

  &__menu {
    &__item {
      cursor: pointer;
      padding: 8px 0;

      &:hover {
        color: $primary-color;
      }

      &--disabled {
        cursor: default;
        opacity: .2;

        &:hover {
          color: inherit;
        }
      }

      &__separator {
        border-top: 1px solid $border-color;
        height: 0;
        margin: 5px 0;
        width: 100%;
      }
    }
  }
}

.el-tiptap-upload {
  $root: &;

  display: flex;

  .el-upload {
    flex-grow: 1;
  }

  .el-upload-dragger {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: 300px;
    width: 100%;

    #{$root}__icon {
      font-size: 50px;
      margin-bottom: 10px;
    }

    &:hover {
      #{$root}__icon {
        color: $primary-color;
      }
    }
  }
}

// color
.colors-container {
  .predefined-colors__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 240px;

    .color {
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, .2) 0px 3px 3px -2px, rgba(0, 0, 0, .14) 0px 3px 4px 0px, rgba(0, 0, 0, .12) 0px 1px 8px 0px;
      color: $white-color;
      height: 40px;
      width: 40px;

      &__wrapper {
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex: 0 0 25%;
        justify-content: center;
        padding: 10px;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.table-grid-size-editor {
  $root: &;

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__cell {
    background-color: $white-color;
    padding: 5px;

    &__inner {
      border: 1px solid $border-color;
      box-sizing: border-box;
      border-radius: 2px;
      height: 16px;
      padding: 4px;
      width: 16px;
    }

    &--selected {
      #{$root}__cell__inner {
        background-color: $extra-light-primary-color;
        border-color: $primary-color;
      }
    }
  }

  &__footer {
    margin-top: 5px;
    text-align: center;
  }
}
