$black-color: #000;
$white-color: #fff;
$light-background-color: #f5f7fA;

$primary-color: #409eff;
$light-primary-color: #b3d8ff;
$lighter-primary-color: #d9ecff;
$extra-light-primary-color: #ecf5ff;

$danger-color: #f56c6c;

$primary-text-color: #303133;
$regular-text-color: #606266;
$placeholder-text-color: #c0c4cc;

$border-color: #dcdfe6;
$lighter-border-color: #ebeef5;
