name: Release

on:
  push:
    branches:
      - master
      - beta

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: c-hive/gha-yarn-cache@v2

      - run: yarn install --registry=https://registry.yarnpkg.com

      - name: Test
        run: yarn lint

      - name: Build
        run: yarn build:lib

      - name: release
        run: yarn semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

